<section class="about">
  <div class="about__content">
    <h3 class="about__subtitle">Sobre mim</h3>
    <img
      src="/assets/foto_robson2.jpg"
      alt="Foto de Robson Ferraz"
      class="about__image"
    />

    <div class="about__details">
      <h2 class="about__title">
        Algumas curiosidades sobre mim
        <strong class="about__highlight">!</strong>
      </h2>

      <p class="about__text">
        Sou apaixonado por tecnologia, inovação e aprendizado constante. Com uma
        formação sólida em Segurança do Trabalho e, mais recentemente, em
        programação front-end, tenho me dedicado a expandir minhas habilidades e
        explorar o universo do desenvolvimento web.
      </p>

      <p class="about__text">
        Minha jornada profissional começou na área de Segurança do Trabalho,
        onde atuei como Técnico, contribuindo para ambientes mais seguros e
        organizados. Agora, com novas habilidades adquiridas, como HTML, CSS,
        JavaScript e Node.js, estou focado em criar soluções digitais que
        impactem positivamente a vida das pessoas.
      </p>

      <p class="about__text">
        Além disso, tenho uma curiosidade natural por aprender e aplicar novas
        tecnologias, o que me levou a participar de imersões e cursos
        especializados em front-end e back-end. Cada projeto que desenvolvo
        reflete meu compromisso com a criatividade, eficiência e excelência,
        seja otimizando processos no ambiente corporativo ou desenvolvendo
        interfaces web intuitivas, minha missão é transformar ideias em soluções
        práticas e inovadoras.
      </p>

      <p class="about__text">
        Atualmente, não tenho experiência na área de tecnologia, apenas práticas
        por meio de exercícios no curso de formação. Mesmo sem ter experiência,
        me considero apto a trabalhar com HTML, CSS e Javascript. Tenho base em
        Angular e estou aprendendo React. Pratiquei nos projetos propostos pela
        instituição Alura, como Alurabook, Jogo do Número Secreto e Videflow,
        todos com deploy na Vercel. Em minha autoavaliação, preciso melhorar em
        JavaScript, TypeScript, React, Git, Github e na base da programação. Meu
        objetivo na carreira de front-end é conseguir conciliar a formação em
        segurança do trabalho, que já exerço, com a tecnologia de programação,
        criando ferramentas para essa área. Além disso, busco melhor remuneração
        e benefícios, bem como a possibilidade de trabalhar em casa através do
        home office.
      </p>

      <p class="about__text">Vamos construir algo incrível juntos?</p>
    </div>
  </div>
</section>
