.about {
  padding: 100px 16px 64px;
  display: flex;
  flex-direction: column;
  background: var(--background-secundary);
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__subtitle {
  color: var(--text-primary);
  background: var(--destacad-title);
  border-radius: 12px;
  padding: 4px 28px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 14px;
}

.about__image {
  width: 240px;
  height: 300px;
  background: var(--background-primary);
  box-shadow: 0px 40px 0px 10px #374151;
  margin: 24px auto 0;
  padding: 10px;
}

.about__details {
  margin-top: 48px;
}

.about__title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 48px;
  text-align: center;
}

.about__highlight {
  font-size: 26px;
  color: var(--txt-destacad);
}

.about__text {
  margin-top: 24px;
  line-height: 1.5;
  text-align: justify;
}

@media screen and (min-width: 1024px) {
  .about {
    padding: 96px 80px;
  }

  .about__content {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 48px;
  }

  .about__details {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .about__image {
    width: 25%;
    height: 25%;
    background: var(--background-primary);
    box-shadow: 40px 40px 0px -10px #374151;
    margin: 0;
  }

  .about__title,
  .about__highlight {
    font-size: 30px;
    text-align: start;
  }

  .about__text {
    font-size: 18px;
  }
}
