<section class="contatos">
  <h3 class="contatos__container-secao">Contatos</h3>
  <p class="contatos__container-paragrafo">
    O que vem a seguir? Sinta-se à vontade para entrar em contato comigo se
    estiver procurando um desenvolvedor, tiver alguma dúvida ou simplesmente
    quiser se conectar.
  </p>
  <div class="contatos__ancoras">
    <a
      href="mailto:robson_r_f&#64;hotmail.com"
      class="contatos__ancoras-contato"
    >
      <img src="/assets/Icon_email.svg" alt="" />
      <h2>robson_r_f&#64;hotmail.com</h2>
    </a>
    <a href="phone:+55 (98) 99102-3509" class="contatos__ancoras-contato">
      <img src="/assets/Icon_phone.svg" alt="" />
      <h2>+55 (98)99102-3509</h2>
    </a>
  </div>
  <p class="contatos__container-paragrafo">
    Você também pode me encontrar nessas plataformas!
  </p>
  <div>
    <ul class="lista-menu">
      <li class="lista-menu__item">
        <a
          href="https://github.com/RobsonFerrazMineiro"
          class="lista-menu__link"
          ><img src="/assets/Icon_github.svg" alt=""
        /></a>
      </li>
      <li class="lista-menu__item">
        <a
          href="https://www.linkedin.com/in/robson-ferraz-mineiro/"
          class="lista-menu__link"
          ><img src="/assets/icon_linkedin.svg" alt=""
        /></a>
      </li>
      <li class="lista-menu__item">
        <a
          href="https://www.instagram.com/robsonfmofcial/"
          class="lista-menu__link"
          ><img src="/assets/icon_instagram.svg" alt=""
        /></a>
      </li>
    </ul>
  </div>
</section>
