<section class="contatos">
  <h3 class="contatos__titulo">Contatos</h3>
  <p class="contatos__descricao">
    O que vem a seguir? Sinta-se à vontade para entrar em contato comigo se
    estiver procurando um desenvolvedor, tiver alguma dúvida ou simplesmente
    quiser se conectar.
  </p>
  <div class="contatos__lista">
    <a href="mailto:robson_r_f@hotmail.com" class="contatos__item">
      <img
        src="/assets/Icon_email.svg"
        alt="Ícone de e-mail"
        class="contatos__item-icone"
      />
      <h2 class="contatos__item-titulo">robson_r_f&#64;hotmail.com</h2>
    </a>
    <a href="tel:+5598991023509" class="contatos__item">
      <img
        src="/assets/Icon_phone.svg"
        alt="Ícone de telefone"
        class="contatos__item-icone"
      />
      <h2 class="contatos__item-titulo">+55 (98) 99102-3509</h2>
    </a>
  </div>
  <p class="contatos__descricao">
    Você também pode me encontrar nessas plataformas!
  </p>
  <ul class="contatos__redes-sociais">
    <li class="contatos__redes-sociais-item">
      <a
        href="https://github.com/RobsonFerrazMineiro"
        class="contatos__redes-sociais-link"
        target="_blank"
        aria-label="GitHub"
      >
        <img
          src="/assets/Icon_github.svg"
          alt="Ícone do GitHub"
          class="contatos__redes-sociais-icone"
        />
      </a>
    </li>
    <li class="contatos__redes-sociais-item">
      <a
        href="https://www.linkedin.com/in/robson-ferraz-mineiro/"
        class="contatos__redes-sociais-link"
        target="_blank"
        aria-label="LinkedIn"
      >
        <img
          src="/assets/icon_linkedin.svg"
          alt="Ícone do LinkedIn"
          class="contatos__redes-sociais-icone"
        />
      </a>
    </li>
    <li class="contatos__redes-sociais-item">
      <a
        href="https://www.instagram.com/robsonfmofcial/"
        class="contatos__redes-sociais-link"
        target="_blank"
        aria-label="Instagram"
      >
        <img
          src="/assets/icon_instagram.svg"
          alt="Ícone do Instagram"
          class="contatos__redes-sociais-icone"
        />
      </a>
    </li>
  </ul>
</section>
