.contatos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 16px;
}

.contatos__titulo {
  color: var(--text-primary);
  background: var(--destacad-title);
  border-radius: 12px;
  padding: 8px 32px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.contatos__descricao {
  margin-top: 16px;
  text-align: center;
  font-size: 16px;
}

.contatos__lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 0;
  gap: 16px;
}

.contatos__item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-primary);
  gap: 12px;
}

.contatos__item-icone {
  width: 24px;
  height: 24px;
}

.contatos__item-titulo {
  font-size: 18px;
  font-weight: 500;
}

.contatos__redes-sociais {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
  padding: 0;
  list-style: none;
}

.contatos__redes-sociais-item {
  list-style: none;
}

.contatos__redes-sociais-link {
  text-decoration: none;
}

.contatos__redes-sociais-icone {
  width: 32px;
  height: 32px;
}
