<nav class="cabeçalho">
  <a class="nav__logo" href="#home">
    <img src="/assets/logo.png" alt="logo" />
  </a>
  <div class="container">
    <input type="checkbox" id="menu" class="container__botao" />
    <label for="menu" class="container__rotulo">
      <span class="cabeçalho__menu-hamburguer container__imagem"></span>
    </label>
    <ul class="lista-menu">
      <li class="lista-menu__item">
        <a href="#home" class="lista-menu__link">Home</a>
      </li>
      <li class="lista-menu__item">
        <a href="#about" class="lista-menu__link">About</a>
      </li>
      <li class="lista-menu__item">
        <a href="#skills" class="lista-menu__link">Skills</a>
      </li>
      <li class="lista-menu__item">
        <a href="#projects" class="lista-menu__link">Projetos</a>
      </li>
      <li class="lista-menu__item">
        <a href="#contact" class="lista-menu__link">Contatos</a>
      </li>
    </ul>
  </div>
</nav>
