<nav class="header">
  <div class="header__divisoria">
    <a class="header__logo" href="#home">
      <img src="/assets/logo.png" alt="Logo" class="header__logo-img" />
    </a>
    <div class="header__menu-hamburgue">
      <input type="checkbox" id="menu" class="header__checkbox" />
      <label for="menu" class="header__label">
        <span class="header__menu-icon"></span>
      </label>
      <ul class="header__menu">
        <li class="header__menu-item">
          <a href="#home" class="header__menu-link">Home</a>
        </li>
        <li class="header__menu-item">
          <a href="#about" class="header__menu-link">Sobre mim</a>
        </li>
        <li class="header__menu-item">
          <a href="#skills" class="header__menu-link">Skills</a>
        </li>
        <li class="header__menu-item">
          <a href="#projects" class="header__menu-link">Projetos</a>
        </li>
        <li class="header__menu-item">
          <a href="#contact" class="header__menu-link">Contatos</a>
        </li>
      </ul>
    </div>

    <div class="header__container">
      <ul class="header__menu-opcoes">
        <li class="header__menu-item">
          <a href="#home" class="header__menu-link">Home</a>
        </li>
        <li class="header__menu-item">
          <a href="#about" class="header__menu-link">Sobre mim</a>
        </li>
        <li class="header__menu-item">
          <a href="#skills" class="header__menu-link">Skills</a>
        </li>
        <li class="header__menu-item">
          <a href="#projects" class="header__menu-link">Projetos</a>
        </li>
        <li class="header__menu-item">
          <a href="#contact" class="header__menu-link">Contatos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
