<section class="projetos">
  <h3 class="projetos__container-secao">Projetos</h3>
  <p class="projetos__container-paragrafo">
    Aqui estão alguns projetos que desenvolvi para praticar os conhecimentos
    adquiridos nos cursos da <strong>Alura</strong>:
  </p>

  <article class="projetos__itens">
    <figure>
      <img
        src="/assets/projeto1.png"
        alt="Captura de tela do jogo do número secreto"
        class="projetos__item-imagem"
      />
    </figure>
    <div class="projetos__itens-descricao">
      <h2 class="projetos__itens-titulo">Jogo do Número Secreto</h2>
      <p class="projetos__itens-paragrafo">
        Este jogo é ideal para jogar com os amigos! O objetivo é acertar o
        número secreto com o menor número de tentativas possível.
      </p>
      <ul class="projetos__lista">
        <li class="projetos__lista-item">HTML</li>
        <li class="projetos__lista-item">CSS</li>
        <li class="projetos__lista-item">JavaScript</li>
      </ul>
      <a
        href="https://jogo-numero-secreto-vert-five.vercel.app/"
        class="projetos__link"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/assets/Icon_link.svg" alt="Ícone de link para o projeto" />
      </a>
    </div>
  </article>

  <article class="projetos__itens desktop">
    <figure>
      <img
        src="/assets/projeto2.png"
        alt="Captura de tela do projeto Alurabook"
        class="projetos__item-imagem"
      />
    </figure>
    <div class="projetos__itens-descricao">
      <h2 class="projetos__itens-titulo">Alurabook</h2>
      <p class="projetos__itens-paragrafo">
        Replica da página inicial do Alurabook, construída utilizando HTML e
        CSS, com um carrossel funcional para fins de aprendizado.
      </p>
      <ul class="projetos__lista">
        <li class="projetos__lista-item">HTML</li>
        <li class="projetos__lista-item">CSS</li>
      </ul>
      <a
        href="https://alurabook-one-theta.vercel.app"
        class="projetos__link"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/assets/Icon_link.svg" alt="Ícone de link para o projeto" />
      </a>
    </div>
  </article>

  <article class="projetos__itens">
    <figure>
      <img
        src="/assets/projeto3.png"
        alt="Captura de tela do projeto Vidflow"
        class="projetos__item-imagem"
      />
    </figure>
    <div class="projetos__itens-descricao">
      <h2 class="projetos__itens-titulo">Vidflow</h2>
      <p class="projetos__itens-paragrafo">
        Página inspirada no YouTube, consumindo uma API para exibir vídeos do
        canal da Alura. Criada para fins didáticos.
      </p>
      <ul class="projetos__lista">
        <li class="projetos__lista-item">HTML</li>
        <li class="projetos__lista-item">CSS</li>
        <li class="projetos__lista-item">JavaScript</li>
        <li class="projetos__lista-item">Node.js</li>
      </ul>
      <a
        href="https://nodejs-vidflow-vite-teal.vercel.app/"
        class="projetos__link"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/assets/Icon_link.svg" alt="Ícone de link para o projeto" />
      </a>
    </div>
  </article>
</section>
