<section class="projetos">
  <h3 class="projetos__container-secao">Projetos</h3>
  <p class="projetos__container-paragrafo">
    Aqui estão alguns projetos que pratiquei os conhecimentos adquiridos nos
    cursos da <strong>Alura</strong>:
  </p>
  <div class="projetos__itens">
    <img src="/assets/projeto1.png" alt="" class="projetos__item-imagem" />
    <div class="projetos__itens-descricao">
      <h2 class="projetos__itens-titulo">Jogo do número secreto</h2>
      <p class="projetos__itens-paragrafo">
        Este jogo é ideal para jogar com os amigos, o objetivo é acerta o número
        secreto em menos tentativas possível!
      </p>
      <ul class="projetos__lista">
        <li class="projetos__lista-item">
          <p>HTML</p>
        </li>
        <li class="projetos__lista-item">
          <p>CSS</p>
        </li>
        <li class="projetos__lista-item">
          <p>Javascript</p>
        </li>
      </ul>

      <a
        href="https://jogo-numero-secreto-vert-five.vercel.app/"
        class="projetos__link"
      >
        <img src="/assets/Icon_link.svg" alt="" />
      </a>
    </div>
  </div>

  <div class="projetos__itens">
    <img src="/assets/projeto2.png" alt="" class="projetos__item-imagem" />
    <div class="projetos__itens-descricao">
      <h2 class="projetos__itens-titulo">Alurabook</h2>
      <p class="projetos__itens-paragrafo">
        Cópia da página do Alurabook construida utilizando HTM e CSS, e uma api
        de carrossel somente para didática de aprendizado, sem funcionalidades.
      </p>
      <ul class="projetos__lista">
        <li class="projetos__lista-item">
          <p>HTML</p>
        </li>
        <li class="projetos__lista-item">
          <p>CSS</p>
        </li>
      </ul>

      <a href="https://alurabook-one-theta.vercel.app" class="projetos__link">
        <img src="/assets/Icon_link.svg" alt="" />
      </a>
    </div>
  </div>
  <div class="projetos__itens">
    <img src="/assets/projeto3.png" alt="" class="projetos__item-imagem" />
    <div class="projetos__itens-descricao">
      <h2 class="projetos__itens-titulo">Vidflow</h2>
      <p class="projetos__itens-paragrafo">
        Página similar ao Youtube, consumindo uma api com os vídeos do canal da
        Alura. Página somente para didática.
      </p>
      <ul class="projetos__lista">
        <li class="projetos__lista-item">
          <p>HTML</p>
        </li>
        <li class="projetos__lista-item">
          <p>CSS</p>
        </li>
        <li class="projetos__lista-item">
          <p>Javascript</p>
        </li>
        <li class="projetos__lista-item">
          <p>Node.js</p>
        </li>
      </ul>

      <a
        href="https://nodejs-vidflow-vite-teal.vercel.app/"
        class="projetos__link"
      >
        <img src="/assets/Icon_link.svg" alt="" />
      </a>
    </div>
  </div>
</section>
