.projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 16px;
  background: var(--background-secundary);
}

.projetos__container-secao {
  color: var(--text-primary);
  background: var(--destacad-title);
  border-radius: 12px;
  padding: 4px 28px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.projetos__container-paragrafo {
  margin-top: 16px;
  font-size: 18px;
  text-align: center;
}

.projetos__itens {
  display: flex;
  flex-direction: column;
  background: var(--destacad-title);
  align-items: center;
  border-radius: 12px;
  margin-top: 24px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.projetos__item-imagem {
  width: 100%;
  max-width: 480px;
  object-fit: cover;
}

.projetos__itens-descricao {
  background: var(--background-img-project);
  padding: 24px;
  border-radius: 0 0 12px 12px;
  text-align: center;
}

.projetos__itens-titulo {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.projetos__itens-paragrafo {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.projetos__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 16px;
  list-style: none;
}

.projetos__lista-item {
  background: var(--txt-destacad);
  color: var(--text-primary);
  border-radius: 12px;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 500;
}

.projetos__link img {
  width: 24px;
  transition: transform 0.3s;
}

.projetos__link:hover img {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .projetos__itens {
    flex-direction: row;
    max-width: 1024px;
  }

  .projetos__item-imagem {
    width: 50%;
  }

  .projetos__itens-descricao {
    width: 50%;
    padding: 32px;
  }
}
