<section class="projetos">
  <h3 class="projetos__container-secao">Projetos</h3>
  <p class="projetos__container-paragrafo">
    Aqui estão alguns projetos que desenvolvi para praticar os conhecimentos
    adquiridos nos cursos da <strong>Alura</strong>:
  </p>

  <article class="projetos__itens">
    <figure>
      <img
        src="/assets/projeto1.png"
        alt="Captura de tela do jogo do número secreto"
        class="projetos__item-imagem"
      />
    </figure>
    <div class="projetos__itens-descricao">
      <h2 class="projetos__itens-titulo">Jogo do Número Secreto</h2>
      <p class="projetos__itens-paragrafo">
        O Jogo do Número Secreto é um jogo interativo onde o jogador deve
        adivinhar um número aleatório dentro de um intervalo pré-definido. A
        cada tentativa, o jogo informa se o número digitado é maior ou menor que
        o número secreto, ajudando o jogador a se aproximar da resposta correta.
      </p>
      <div class="projetos__itens-caracteristicas">
        Principais Características do Jogo:
        <li>O jogo gera um número aleatório no início da partida.</li>
        <li>
          O jogador insere um palpite por meio de comandos de voz ou digitando.
        </li>
        <li>
          O jogo responde com dicas como "o número é maior" ou "o número é
          menor".
        </li>
        <li>
          O objetivo é adivinhar o número correto no menor número de tentativas
          possível.
        </li>
      </div>
      <ul class="projetos__lista">
        <li class="projetos__lista-item">HTML</li>
        <li class="projetos__lista-item">CSS</li>
        <li class="projetos__lista-item">JavaScript</li>
        <li class="projetos__lista-item">Web Speech API</li>
      </ul>
      <a
        href="https://jogo-numero-secreto-vert-five.vercel.app/"
        class="projetos__link"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/assets/Icon_link.svg" alt="Ícone de link para o projeto" />
      </a>
    </div>
  </article>

  <article class="projetos__itens desktop">
    <figure>
      <img
        src="/assets/projeto2.png"
        alt="Captura de tela do projeto Alurabook"
        class="projetos__item-imagem"
      />
    </figure>
    <div class="projetos__itens-descricao">
      <h2 class="projetos__itens-titulo">Alurabook</h2>
      <p class="projetos__itens-paragrafo">
        O Alurabook é um projeto de e-commerce focado na venda de livros,
        inspirado na plataforma da Alura para aprendizado de tecnologia e
        desenvolvimento.
      </p>
      <div class="projetos__itens-caracteristicas">
        Principais Características do Alurabook:
        <li>
          Catálogo de Livros – Apresenta uma lista de livros disponíveis para
          compra, organizados de forma acessível e intuitiva.
        </li>
        <li>
          Carrinho de Compras – Possível funcionalidade para adicionar e
          visualizar os itens antes da compra.
        </li>
        <li>
          Busca e Filtros – Permite encontrar livros por categorias ou
          palavras-chave.
        </li>
        <li>
          Responsividade – Interface adaptada para diferentes dispositivos,
          tornando a experiência de navegação agradável.
        </li>
      </div>
      <ul class="projetos__lista">
        <li class="projetos__lista-item">HTML</li>
        <li class="projetos__lista-item">CSS</li>
        <li class="projetos__lista-item">Swiper API</li>
      </ul>
      <a
        href="https://alurabook-one-theta.vercel.app"
        class="projetos__link"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/assets/Icon_link.svg" alt="Ícone de link para o projeto" />
      </a>
    </div>
  </article>

  <article class="projetos__itens">
    <figure>
      <img
        src="/assets/projeto3.png"
        alt="Captura de tela do projeto Vidflow"
        class="projetos__item-imagem"
      />
    </figure>
    <div class="projetos__itens-descricao">
      <h2 class="projetos__itens-titulo">Vidflow</h2>
      <p class="projetos__itens-paragrafo">
        O VidFlow é uma plataforma de streaming de vídeos que permite aos
        usuários explorar, assistir e enviar vídeos. O projeto inspirado em
        plataformas como YouTube e Vimeo, oferecendo uma experiência moderna e
        interativa para consumo de conteúdo audiovisual.
      </p>
      <div class="projetos__itens-caracteristicas">
        Principais Características do Vidflow:
        <li>
          Reprodução de Vídeos – Permite assistir a vídeos diretamente no
          navegador, com controles de player intuitivos.
        </li>
        <li>
          Sistema de Busca e Descoberta – Possível funcionalidade para encontrar
          vídeos por categorias, palavras-chave ou recomendações.
        </li>
        <li>
          Perfis de Usuários – Pode incluir login, cadastro e personalização da
          experiência do usuário.
        </li>
        <li>
          Design Responsivo – Interface adaptada para desktop e dispositivos
          móveis.
        </li>
      </div>
      <ul class="projetos__lista">
        <li class="projetos__lista-item">HTML</li>
        <li class="projetos__lista-item">CSS</li>
        <li class="projetos__lista-item">JavaScript</li>
        <li class="projetos__lista-item">Node.js</li>
        <li class="projetos__lista-item">Vite</li>
        <li class="projetos__lista-item">Consumo de API</li>
      </ul>
      <a
        href="https://nodejs-vidflow-vite-teal.vercel.app/"
        class="projetos__link"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/assets/Icon_link.svg" alt="Ícone de link para o projeto" />
      </a>
    </div>
  </article>
</section>
