<section class="skills">
  <div class="skills__content">
    <h3 class="skills__title">Skills</h3>
    <p class="skills__description">
      As habilidades, ferramentas e tecnologias em que tenho conhecimento:
    </p>

    <div class="skills__list-container">
      <ul class="skills__list">
        <li class="skills__item">
          <a href="#" class="skills__link">
            <img
              src="/assets/icon-html.svg"
              alt="Ícone do HTML"
              class="skills__icon"
            />
            <p class="skills__name">HTML</p>
          </a>
          <div class="skills__progress-bar">
            <div class="skills__progress-fill" style="--level: 70%"></div>
          </div>
        </li>

        <li class="skills__item">
          <a href="#" class="skills__link">
            <img
              src="/assets/icon-css.svg"
              alt="Ícone do CSS"
              class="skills__icon"
            />
            <p class="skills__name">CSS</p>
          </a>
          <div class="skills__progress-bar">
            <div class="skills__progress-fill" style="--level: 70%"></div>
          </div>
        </li>

        <li class="skills__item">
          <a href="#" class="skills__link">
            <img
              src="/assets/icon-javascript.svg"
              alt="Ícone do JavaScript"
              class="skills__icon"
            />
            <p class="skills__name">JavaScript</p>
          </a>
          <div class="skills__progress-bar">
            <div class="skills__progress-fill" style="--level: 50%"></div>
          </div>
        </li>

        <li class="skills__item">
          <a href="#" class="skills__link">
            <img
              src="/assets/icon-typescript.svg"
              alt="Ícone do TypeScript"
              class="skills__icon"
            />
            <p class="skills__name">TypeScript</p>
          </a>
          <div class="skills__progress-bar">
            <div class="skills__progress-fill" style="--level: 30%"></div>
          </div>
        </li>

        <li class="skills__item">
          <a href="#" class="skills__link">
            <img
              src="/assets/icon-angular.svg"
              alt="Ícone do Angular"
              class="skills__icon"
            />
            <p class="skills__name">Angular</p>
          </a>
          <div class="skills__progress-bar">
            <div class="skills__progress-fill" style="--level: 60%"></div>
          </div>
        </li>

        <li class="skills__item">
          <a href="#" class="skills__link">
            <img
              src="/assets/icon-react.svg"
              alt="Ícone do React"
              class="skills__icon"
            />
            <p class="skills__name">React</p>
          </a>
          <div class="skills__progress-bar">
            <div class="skills__progress-fill" style="--level: 10%"></div>
          </div>
        </li>

        <li class="skills__item">
          <a href="#" class="skills__link">
            <img
              src="/assets/icon-git.svg"
              alt="Ícone do Git"
              class="skills__icon"
            />
            <p class="skills__name">Git</p>
          </a>
          <div class="skills__progress-bar">
            <div class="skills__progress-fill" style="--level: 40%"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
