section {
  display: flex;
  flex-direction: column;
}

.skills {
  padding: 100px 16px 64px;
  display: flex;
  flex-direction: column;
}

.skills__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills__title {
  color: var(--text-primary);
  background: var(--destacad-title);
  border-radius: 12px;
  padding: 4px 28px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
}

.skills__description {
  margin-top: 24px;
  line-height: 1.5;
  text-align: center;
}

.skills__list-container {
  margin-top: 24px;
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  list-style: none;
  padding: 0;
}

.skills__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  border: solid 2px var(--txt-destacad);
  padding: 24px;
  border-radius: 10px;
  background-color: var(--background-primary);
  transition: transform 0.3s ease-in-out;
}

.skills__item:hover {
  transform: scale(1.05);
}

.skills__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--text-primary);
}

.skills__name {
  margin: 15px 0;
  font-weight: 400;
}

.skills__icon {
  width: auto;
}

.skills__progress-bar {
  width: 100%;
  border: solid 2px var(--txt-destacad);
  border-radius: 10px;
  overflow: hidden;
  height: 20px;
  background: #ffffff;
  margin-top: 10px;
}

.skills__progress-fill {
  height: 100%;
  background-color: var(--txt-destacad);
  width: var(--level, 10%);
  transition: width 0.5s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .skills {
    padding: 96px 80px;
    display: flex;
    flex-direction: column;
  }

  .skills__description {
    font-size: 18px;
  }

  .skills__list-container {
    margin-top: 48px;
  }

  .skills__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 86px;
  }

  .skills__name {
    font-size: 18px;
  }
}
