<section>
  <div class="skills">
    <h3 class="skills__container-secao">Skills</h3>
    <p class="skills__container-paragrafo">
      As habilidades, ferramentas e tecnologias em que tenho conhecimento:
    </p>
    <div>
      <ul class="lista-skills">
        <li class="lista-skills__item">
          <a href="#" class="lista-skills__link">
            <img src="/assets/icon-html.svg" alt="" />
            <p>HTML</p>
          </a>
          <div class="progress-bar">
            <div class="progress-bar-fill" style="--level: 70%"></div>
          </div>
        </li>
        <li class="lista-skills__item">
          <a href="#" class="lista-skills__link">
            <img src="/assets/icon-css.svg" alt="" />
            <p>CSS</p>
          </a>
          <div class="progress-bar">
            <div class="progress-bar-fill" style="--level: 70%"></div>
          </div>
        </li>
        <li class="lista-skills__item">
          <a href="#" class="lista-skills__link">
            <img src="/assets/icon-javascript.svg" alt="" />
            <p>Javascript</p>
          </a>
          <div class="progress-bar">
            <div class="progress-bar-fill" style="--level: 50%"></div>
          </div>
        </li>
        <li class="lista-skills__item">
          <a href="#" class="lista-skills__link">
            <img src="/assets/icon-typescript.svg" alt="" />
            <p>Typescript</p>
          </a>
          <div class="progress-bar">
            <div class="progress-bar-fill" style="--level: 30%"></div>
          </div>
        </li>
        <li class="lista-skills__item">
          <a href="#" class="lista-skills__link">
            <img src="/assets/icon-angular.svg" alt="" />
            <p>Angular</p>
          </a>
          <div class="progress-bar">
            <div class="progress-bar-fill" style="--level: 60%"></div>
          </div>
        </li>
        <li class="lista-skills__item">
          <a href="#" class="lista-skills__link">
            <img src="/assets/icon-react.svg" alt="" />
            <p>React</p>
          </a>
          <div class="progress-bar">
            <div class="progress-bar-fill" style="--level: 10%"></div>
          </div>
        </li>
        <li class="lista-skills__item">
          <a href="#" class="lista-skills__link">
            <img src="/assets/icon-git.svg" alt="" />
            <p>Git</p>
          </a>
          <div class="progress-bar">
            <div class="progress-bar-fill" style="--level: 40%"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
