<div class="main-container">
  <app-header></app-header>

  <!-- Secção da Home -->
  <section id="home">
    <app-home></app-home>
  </section>

  <!-- Secção do About -->
  <section id="about">
    <app-about></app-about>
  </section>

  <!-- Secção de Skills -->
  <section id="skills">
    <app-skills></app-skills>
  </section>

  <!-- Secção de Projects -->
  <section id="projects">
    <app-projects></app-projects>
  </section>

  <!-- Secção de Contact -->
  <section id="contact">
    <app-contacts></app-contacts>
  </section>

  <app-footer></app-footer>
</div>
