/* You can add global styles to this file, and also import other style files */
:root {
  /* font */
  --font-family: "Sora", serif;

  /* backgrounds */
  --background-default: #000000;
  --background-secundary: #121213;
  --background-img-project: #222528;
  --destacad-title: #5b5e62;
  --destacad-skills: #3f4247;

  /* text color */
  --txt-primary: #ffffff;
  --txt-destacad: #ff0000;

  /* button color */
  --btn-dowload: #f9fafb;

  --emerald: #10b981;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  background: var(--background-default);
  color: var(--txt-primary);
}
