.rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-secundary);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 18px 0;
  font-size: 12px;
  z-index: 100;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para os outros elementos do footer (texto, etc.) */
/* ... */

.rodape__texto {
  text-align: center;
  color: var(--text-primary);
}

.rodape__texto-destaque {
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .rodape {
    position: relative;
    font-size: 20px;
  }
}
